h1 {
	background-color: #7b90ad;
}
body {
	background-color: #7b90ad;
	font-family: Calibre, sans-serif;
	font-size: 16 px;
	color: white;
	text-align: center;
	
}
#slogan {font-style: italic;}

footer {
	background-color: ff;
	font-size: 12 px;
}