body {
	background-color: #7b90ad;
	font-family: Calibre, sans-serif;
	font-size: 16 px;
	color: white;
	text-align: center;
	
}
h1 {
	color:white;
}
#slogan {font-style: italic;}

ul {
	text-align: center;
	list-style-type: none;
}
#disclaimer {
	font-size: 8 px;
}

